body{
    display: flex;
    background-image: url("../images/background-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.header{
    display: flex;
    height: 100vh;
    background-image: url("../images/background-yellow-red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    font-family: "Abril Fatface";
    align-items: center;
}
.header__background{      /*photo du ring dans le header*/
    display: flex;
    flex-direction: column;
    background-image: url("../images/background-wwe-ring.webp");
    background-size: 1200px auto;
    background-repeat: no-repeat;
    border-radius: 25px;
    align-items: center;
}
.header__maintitle{    /*Titre h1 : Hulk Hogan écrit avec la police Metal Mania*/
    display: flex;
    font-family: "Metal Mania";
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; /* bordure blanche pour la police*/
    font-size: 120px;
    font-weight: normal;
}
.header__background__picture{    /*Hulkhogan mugshot*/
    width: 450px;
    height: 750px;
    background-image: url("../images/hh-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}
.header__title{    /*Tite h2 : 13 fois champion du monde*/
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Abril Fatface";
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* bordure noire pour la police*/
}
.color__yellow{      /*couleur du nom Hulk dans le h1 du header*/
    color: yellow;
}
.color__red{     /*couleur du nom Hogan dans le h1 du header*/
    color: red;
}
section{
    display: flex;
    flex-direction: column;
    font-family: "Abril Fatface";
    padding: 40px;
}
.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 234, 234, 0.6); /*fond gris transparent*/
    font-family: "Abril Fatface";
    border-radius: 25px;
    padding: 20px;
}
ul {    /*traitement de la liste de dates clés*/
    font-family: "Inter";
    font-size: 12px;
}
footer{
    display: flex;
    height: 100px;
    background-color: rgb(234, 234, 234, 0.6); /*fond gris transparent*/
}
.footer__background{     /*image Hulk's rules*/
    background-image: url("../images/hulk's-rules.jpg");
    border-radius: 25px;
}
img {     /*traitement des images dans leur <div>*/
    display: flex;
    align-items: center;
    border-radius: 25px;
    max-width : 100%;
    height : auto;
}
