body{
    display: flex;
    background-image: url("../images/background-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    display: flex;
    height: 100vh;
    background-image: url("../images/background-yellow-red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    font-family: "Abril Fatface";
}
.header__maintitle{
    display: flex;
    text-align: center;
    font-family: "Metal Mania";
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; /* bordure blanche pour la police*/
    font-size: 120px;
    font-weight: normal;
}
.header__background{
    display: flex;
    flex-direction: column;
    height: calc(100vh-25px);
    background-image: url("../images/background-wwe-ring.webp");
    background-size: cover;
    text-align: justify;
    margin: 30px;
    border-radius: 25px;
}
.color__red{
    color: red;
}
.color__yellow{
    color: yellow;
}
.resume{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234, 0.6); /*fond gris transparent*/
    font-family: "Abril Fatface";
}
.header__title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Abril Fatface";
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* bordure noire pour la police*/
}
section{
    display: flex;
    flex-direction: column;
    font-family: "Abril Fatface";
}
footer{
    display: flex;
    height: 100px;
    background-color: rgb(234, 234, 234, 0.6); /*fond gris transparent*/
}
.footer__background{
    background-image: url("../images/hulk's-rules.jpg");
    border-radius: 25px;
}
